      <tokens>
        <description><metavar="tokenDescription"></description>
        <id><metavar="tokenID"></id>
        <status>0</status>
        <value><metavar="tokenValue"></value>
      </tokens>

