<div class="pnp-hidden overlay light-box" id="addCredentialLightBox">
    <h1>Add Credentials</h1>
    <hr>


    <div class="pnp-box half display-format">
        <h4 class="display-format">Username</h4>
        <span class="info-span">*</span>
        <br>
        <input id="addCredentialUsername" class="pnp-input-control pnp-box half" maxlength="40">
    </div>
    <br>

    <div class="pnp-box half display-format">
        <h4 class="display-format">Password</h4>
        <span class="info-span">*</span>
        <br>
        <input id="addCredentialPassword" type="password" class="pnp-input-control pnp-box half" maxlength="40">
    </div>

    <div class="pnp-box half display-format">
        <h4 class="display-format">Confirm Password</h4>
        <span class="info-span">*</span>
        <br>
        <input id="addCredentialConfirmPassword" type="password" class="pnp-input-control pnp-box half" maxlength="40">
    </div>

    <input type="button" class="pnp-input-control left-action-button" value="Close" id="closeAddCredentialLightBox">
    <input type="button" class="pnp-input-control right-action-button" value="Submit" id="saveCredential">
</div>

