<div class="pnp-hidden overlay light-box" id="editCredentialLightBox">
    <h1>Edit Credentials</h1>
    <hr>

    <input hidden id="credentialID">

    <div class="pnp-box half display-format">
        <h4 class="display-format">Username</h4>
        <span class="info-span">*</span>
        <br>
        <input id="editCredentialUsername" class="pnp-input-control pnp-box half" maxlength="40">
    </div>
    <br>

    <div class="pnp-box half display-format">
        <h4 class="display-format">Password</h4>
        <span class="info-span">*</span>
        <br>
        <input id="editCredentialPassword" type="password" class="pnp-input-control pnp-box half" maxlength="40">
    </div>

    <div class="pnp-box half display-format">
        <h4 class="display-format">Confirm Password</h4>
        <span class="info-span">*</span>
        <br>
        <input id="editCredentialConfirmPassword" type="password" class="pnp-input-control pnp-box half" maxlength="40">
    </div>
    <br>
    <span class="display-format info-span">**Leave blank to use existing password</span>

    <input type="button" class="pnp-input-control left-action-button" value="Close" id="closeEditCredentialLightBox">
    <input type="button" class="pnp-input-control right-action-button" value="Submit" id="updateCredential">
</div>
