<span id='overrideAdjustment' style='display:none;'>
	<span class='label'><metalang='convenienceFee,overrideCheckbox'></span>
	<span class='input'>
		<input type='checkbox' name='overrideCheckbox' value='yes'>
		<input type='hidden' name='pb_override_adjustment' value=''>
	</span>
</span>
<table class='calculatorTable'>
  <tr>
    <td class='calculatorLabel'>Total:</td><td class='calculatorValue'><span class="currencySymbol"></span><span class="total">0.00</span></td>
  </tr>
  <tr>
    <td class='calculatorLabel'>Fee:</td><td class='calculatorValue'><span class="currencySymbol"></span><span class="adjustment">0.00</span></td>
  </tr>
</table>
