<div>
<table id="footer" width = "780" border="0" cellpadding="0" cellspacing="0">
<tr>
<td>
<p><a href="/private/logout.cgi" title="Click to log out">Log Out</a>
|
<a href="/private/receiptTemplate/index.cgi" title= "return to Previous Page">Back</a></p>
</td>
<td align="right">
<p> &copy; <metavar='current_year'>, Plug and Pay Technologies, Inc.</p>
</td>
</tr>
</table>
</div>
