<div class="pnp-hidden overlay light-box" id="addHostConnectionLightBox">
    <h1>Add Host Connection</h1>
    <hr>

    <div class="pnp-box half display-format">
        <h4 class="display-format">Protocol</h4>
        <span class="info-span">*</span>
        <br>
        <select id="addHostConnectionProtocolSelect" class="pnp-box half pnp-input-control">
            <metavar='protocolOptions'>
        </select>
    </div>

    <div class="pnp-box half display-format">
        <h4 class="display-format">Port</h4>
        <span class="info-span">*</span>
        <br>
        <input class="pnp-input-control pnp-box half" id="addHostConnectionPort" type="text">
    </div>

    <div class="pnp-box half">
        <h4>Description</h4>
        <input class="pnp-input-control" id="addHostConnectionDescription" type="text" maxlength="60">
    </div>

    <div class="pnp-box">
        <h4 class="display-format">Path</h4>
        <br>
        <input class="pnp-input-control" id="addHostConnectionPath" type="text">
    </div>

    <div class="pnp-box half display-format">
        <h4 class="display-format">Host</h4>
        <span class="info-span">*</span>
        <br>
        <select class="pnp-input-control" id="addHostConnectionHostSelect"></select>
    </div>

    <div class="pnp-box half display-format">
        <h4 class="display-format">Credential</h4>
        <span class="info-span">*</span>
        <br>
        <select class="pnp-input-control" id="addHostConnectionCredentialSelect"></select>
    </div>

    <input type="button" class="pnp-input-control left-action-button" value="Close" id="closeAddHostConnectionLightBox">
    <input type="button" class="pnp-input-control right-action-button" value="Submit" id="saveHostConnection">
</div>
