RewriteEngine on
RewriteBase /admin/api/
RewriteRule ^index\.cgi$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /admin/api/index.cgi [L]


<Files index.cgi>
    SetHandler  perl-script
    PerlResponseHandler ModPerl::PerlRun
    PerlResponseHandler ModPerl::Registry
    PerlSendHeader On
    PerlHandler Apache::Registry
    Options +ExecCGI
</Files>
