<div id="tabCredential">
    <div id="credential_add">
        <div style="text-align: left;">
            <span style="display: inline-block;">
                <input class="pnp-input-control pnp-box" value="Add Merchant Credential" type="button" id="showAddCredentialLightBox">
            </span>
        </div>
    </div>

    <div id="merchantCredentialAccordion">
        <h3 class="pnp-input-control" style="text-align: left;">Current Host Credentials</h3>
        <div>
            <div id="filterCredential">
                <div id="credentialListNavigation" class='listNavigation'>
                    <div class='buttonWrapper'>
                        <input type='button' id='credentialListPageBack' class='pnp-box pnp-input-control' value='<'>
                    </div>

                    <div id='credentialListPageSelectContainer'>
                        <select id='credentialListPageSelect' class='pnp-box pnp-input-control'></select>
                    </div>

                    <div class='buttonWrapper'>
                        <input type='button' id='credentialListPageNext' class='pnp-box pnp-input-control' value='>'>
                    </div>
                </div>

                <select class="pnp-input-control filter-select" id="filterCredentialSelect">
                    <option value="name">Name</option>
                    <option value="username">Username</option>
                </select>
                <input class="pnp-input-control display-format" style="width: 200px" id="filterCredentialTableInput" placeholder="Filter" type="text">
            </div>
            <div id="currentMerchantCredentials"></div>
            <span id="credentialCount"></span>
            <!-- end payment plans list section -->

            <div id='credentialSpinner'></div>
        </div>

    </div>
</div>