A      {font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 80%; color: #000000}
.awhite      {font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 80%; color: #d0d0d0}
.ared	{font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 80%; color: #ffd0d0}
H3      {font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 100%}
H2      {font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 100%}
.right    {font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 80%; text-align: right}
.tdright  {font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 80%; text-align: right}
.leftside {font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 80%; color: #ffffff; background-color: #4a7394; vertical-align: top; text-align: left}
.normal {font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 80%; color: #000000; vertical-align: top; text-align: left}
.twoyears {font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 80%; color: #88ff88; vertical-align: top; text-align: left}
.threeyears {font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 80%; color: #ff0000; vertical-align: top; text-align: left}
.across   {font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 90%; color: #ffffff; background-color: #00a0a0; vertical-align: top; text-align: center}
B           {font-weight: bold}
.tr1 { background-color: #d0c0c0 }
.tr2 { background-color: #c0d0c0 }
.tr3 { background-color: #c0c0d0 }
.tr4 { background-color: #d0c0d0 }
.tr5 { background-color: #d0d0c0 }
.tr6 { background-color: #c0d0d0 }
th { font-family: Arial; font-weight: bold; font-size: 70%; color: black }
.larger { font-size: 100%; text-align: right; font-weight: bold }
