.rt-float-right {
  float: right;
}

.rt-float-left {
  float: left;
}

.rt-clear-float {
  clear: both;
}

.rt-hidden {
  display: none !important; /* so that when this class is added, the element IS hidden. */
}

.rt-box.block {
  display: inline;
}

.rt-box.inline-block {
  display: inline-block;
}

.rt-scroll {
  overflow: scroll;
}

.rt-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 5px;
}

.rt-box.quarter {
  width: 25%;
}

.rt-box.third {
  width: 33%;
}

.rt-box.half {
  width: 49.75%;
}

.rt-box.full {
  width: 100%;
}

