<link rel="stylesheet" href="/_css/merchants/<metavar="login">/admin_control_list.css" type="text/css" />
<script language="javascript" src="/_js/Pack.js"></script>
<script language="javascript" src="/admin/_js/payscreens/substitutions.js"></script>
